// --------------------------------
// Gentlemen: CSS > Widgets
// --------------------------------


// Page Styles + Header
// --------------------------------

.bk-pt-default .logo-header {
    background-color: @color__footer--background;
    position: relative;
}

.bk-pt-default .logo-container.container {
    @media @mobile {
        padding: 2% 2%;
    }
}

.homepage-signup {
    background-color: @color__navigation--background;
    @media @tablet {
        padding: 0;
    }
}

.header-logo,
.header-companyname {
    display: block;
    flex: none;
}

.logo-header {
    display: block;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 99999;
}

.logo-container.container {
    border-bottom: 0;
    @media @mobile {
        padding: 1% 3%;
    }
}


// Navigation
// --------------------------------

.navigation-list {
    padding: 10px;
}

.navigation-toggle:before {
    background-color: @color-swatch1;
    box-shadow: 0 6px 0 @color-swatch1;
}

.navigation-toggle:after,
.open .navigation-toggle:after,
.open .navigation-toggle:before,
.navigation-toggle:hover:after,
.navigation-toggle:hover:before {
    background-color: @color-swatch1;
}

.navigation-toggle:hover:before {
    box-shadow: 0 6px 0 @color-swatch1;
}

.item-name--parent:after {
    border-top-color: @font-swatch6-color;
}

.extendednavigation__navigation-list {
    background-color: @color__navigation--background;
    border: 0;
    @media @tablet {
        background-color: lighten(@color__navigation--background, 10%);
    }
}

.navigation-item.open .navigation-list--children {
    @media @tablet {
        background-color: lighten(@color__navigation--background, 15%);
    }

}


// Feature
// --------------------------------

.feature__content-wrap {
    max-width: 100%;
    background-color: fade(@color__feature-content--background,10%);
}

.feature__background-image {
    height: 800px;
}

.feature__content-inner-wrap {
    background-color: @color__feature-content--background;
    position: absolute;
    width: 50.1%;
    display: flex;
    padding: 60px 2% 60px 2%;
    @media @tablet {
        width: 100%;
    }
    @media @mobile {
        padding-top: 80%;
    }
}

.feature__headline,
.feature__strapline {
    text-align: center;
}

.feature__background-image {
    width: 100%;
    @media @tablet {
        height: 700px;
    }
    @media @mobile {
        height: 550px;
    }
}

.feature__headline {
    text-transform: uppercase;
    @media @mobile {
        font-size: bkscale(@font-swatch8-font-size,0.4);
        line-height: bkscale(@font-swatch8-line-height,0.5);
    }
}

.feature__button {
    margin: 10px auto 0;
    background-color: @color__feature-button--background!important;
    color: @color__feature-button--text!important;
    &:hover {
        background-color: @color__feature-button--background--hover!important;
        color: @color__feature-button--text!important;
    }
}

.feature__button, 
button, 
.button,
.blogpostlist__read-more { 
    border-bottom: 0;
    padding: 8px 15px;
    padding-bottom: 10px;
    letter-spacing: 0px;
    font-family: @font__button--font-family;
    background-color: @color__button--background;
    color: @color__button--text;
    &:hover {
        border-bottom: 0;
        background-color: @color__button--background--hover;
        color: @color__button--text--hover;
    }
}


// Widgets
// --------------------------------

.clicktocall__phone-number-link {
    padding: 8px 15px;
}

.clicktocall__phone-number-link:hover {
    @media @mobile {
        padding: 8px 15px;
        background-color: @color__button--background--hover!important;
        color: @color__button--text--hover;
    }
}

.signupform__label, 
.contactform__legend, 
.blogsearch__legend {
    font-family: @font__h3--font-family;
    font-size: @font__h2--font-size;
    font-weight: @font__h2--font-weight;
    line-height: @font__h2--line-height;
    letter-spacing: @font__h2--letter-spacing;
}

.twitter__avatar {
    margin-bottom: 10px;
    display: block;
}

.responsivecolumns {
    .twitter__tweet-wrap {
        max-width: 80%;
    }
}


// Ecommerce
// --------------------------------

.ecomproductslist__button {
    padding-bottom: 0;
    padding: 4px 15px;
}

.ecomcategorieslist__category-list {
    margin: 0;
}

.ecomfeaturedproducts__listing-header {
    margin-top: 20px;
}

.summary-table .cell {
    @media @tablet {
        width: 100%;
    }   
}
