<!-- Footer -->
<footer class="template-footer">

	<div class="container">
        {{widget('profile', 'socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
	</div>

</footer>
<!-- End Footer -->
